doctype html
include header.pug

// Default form subscription
form.text-center.border.border-light.p-5(action='/postdata' method='post')
  p.text-center.w-responsive.mx-auto.mb-5
   | Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within    | a matter of hours to help you.
  p
    //- a(href='' target='_blank') See the last newsletter
  // Name
  input#defaultSubscriptionFormPassword.form-control.mb-4(type='text' placeholder='name' name='name')
  // Email
  input#defaultSubscriptionFormEmail.form-control.mb-4(type='text' placeholder='E-mail' name='email')
  // Sign in button

  input#defaultSubscriptionFormEmail.form-control.mb-4(type='text' placeholder='comments' name='comment') 
  button.btn.btn-info.btn-block(type='submit') SEND
// Default form subscription
